<%= stylesheet_pack_tag 'application', media: 'all' %>

<header>
  <h1>Nowe terminy</h1>
<header>

<% @queries.each do |q| %>
  <div class='query'>
    <%= q.benefit %>,
    <% if q.case == 2 %>
        <strong>pilny przypadek,</strong>
    <% end %>
    <%= "#{q.locality}, #{q.province}" %>
  </div>
  <%= render partial: "shared/mailer_result", collection: q.results %>
<% end %>