<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <% if flash[:alert].class == String %>
      <%= flash[:alert] %>
    <% else %>
      <% flash[:alert].each do |msg| %>
        <%= msg %>
      <% end %>
    <% end %>
  </div>
<% end %>