<nav class="navbar navbar-expand-lg bg-primary">
  <ul class="navbar-nav">
    <% if current_user %>
      <li class="nav-item active"><%= link_to 'Wyszukiwania', queries_path, class: "text-white nav-link" %></li>
      <% if current_user && current_user.admin? %>
        <li class="nav-item active"><%= link_to('Panel administratora', admin_index_path, method: :get, class: "text-white nav-link")%></li>
      <% end %>
    <% else %>
      <li class="nav-item active"><%= link_to('Zaloguj się', new_user_session_path, method: :get, class: "text-white nav-link")%></li>
      <li class="nav-item active"><%= link_to('O aplikacji', unauthenticated_root_path, method: :get, class: "text-white nav-link")%></li>
    <% end %>
  </ul>
  <ul class="navbar-nav ml-auto">
    <% if current_user %>
      <li>  
        <div class="dropdown show">
          <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Moje konto
          </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" rel="nofollow" data-method="get" href="/users/edit">Edycja konta</a>
          <a class="dropdown-item" rel="nofollow" href="#">O aplikacji</a>
          <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">Wyloguj się</a>
        </div>
      </li>
    <% end %>
  </ul>
</nav>
