<div class="result-box">
  <div class="col-8">
    <p>
      <strong><%= result.provider %></strong>
      <% if result.created_at > @user_query.visited_results_at %>
        <%= "NOWY !!!" %>
      <% end %>
    </p>
    <p></p>
  </div>
  <div class="col-4 text-right"> 
    <p><strong>Najbliższy termin wizyty:</strong></p>
    <p><%= result.date %></p>
  </div>

</div>