<p>
  <% if user != current_user %>
    <%= user.email %>
    <%= link_to "Zmień hasło", admin_new_password_path(id: user.id) %>
    <%= link_to "Usuń", admin_destroy_path(id: user.id), data: {confirm: "Czy na pewno?"} %>
  <% end %>
</p>