<p>
  <%= user.email %>
  <%= link_to "Zmień hasło", admin_new_password_path(id: user.id) %>
  <% if user != current_user %>
    <%= link_to "Usuń", admin_destroy_path(id: user.id), data: {confirm: "Czy jesteś pewien?"} %>
  <% end %>
</p>