<p><strong>NFZ Alert to aplikacja oparta o informator Terminy Leczenia, stworzony przez Narodowy Fundusz Zdrowia</strong></p>
<br>
<p>Na podstawie zapytania wyszukuje w bazie NFZ (link <a href="https://api.nfz.gov.pl/app-itl-api/">tutaj</a>) najbliższe terminy usług medycznych dla danej lokalizacji,</p>
<p>a następnie cyklicznie sprawdza, czy nie pojawiły się nowe terminy dla tego zapytania - kiedy nowy termin się pojawi,</p>
<p>użytkownik jest o nim informowany za pośrednictwem panelu aplikacji oraz e-maila.</p>
<br>
<p><strong>NFZ Alert jest aplikacją typu proof of concept</strong></p>
<br>
<p>Ze względu na ochronę danych osobowych wyłączona jest możliwość rejestracji nowych użytkowników. W celu sprawdzenia</p>
<p>działania aplikacji zapraszam do logowania poprzez jedno z pięciu kont testowych. Ich adresy to user1@example.com</p>
<p>do user5@example.com, a hasło do każdego: 123456</p>
