@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

$main-color: #20A0D8;

/** GENERAL */

body {
  font-family: "Fira Sans", sans-serif;
}

#container {
  width: 100%;
  display: inline-block;
  }
  
  /** NAVIGATION BAR */
  nav {
    overflow: hidden;
    background-color: $main-color;
    position: sticky;
    top: 0;
    width: 100%;
    ul {
      text-align: left;
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 1%;
      li {
        display: inline;
        font-size: 100%;
        a {
          color: #f2f2f2;
          text-decoration: none;
          padding: 1%;
          &:hover {
            background-color: #111;
          }
        }
      }
    }
  }

  /** FORM */

  .form {
    h2, h3 {
      padding-top: 1%;
      padding-left: 1%;
    }
    .field, .actions {
      font-size: 100%;
      padding: 1%;
      border-radius: 1%;
    }
    .field input, .actions input {
      padding: 1%;
      border-radius: 25px;
      outline: none;
    }
    .actions input {
      background-color: $main-color;
      color: white
    }
    a {
      margin-left: 2%;
    }
  }

  /** ERROR MESSAGES */

  #error_explanation, .flash-alert {
    border: solid;
    border-color: #ff6464;
    background-color: #ffb99a;
    width: fit-content;
    padding-right: 10%;
    margin-bottom: 1%;
    margin-left: 1%;
  }