@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

$main-color: #0275d8;
$link-color: #007bff;

body {
  font-family: "Fira Sans", sans-serif;
  font-size: calc(0.3em + 1vw);
}

p {
  margin-top: 1%;
  margin-bottom: 1%
}

//alerts

.alert {
  display: inline-block
}

//navbar

.navbar-nav {
  margin-left: 3%;
  margin-right: 3%;
}

.nav-item {
  margin-right: 15%;
  white-space: nowrap
}

//container

.main-box {
  margin: 3%;
}

//header

.header {
  margin-top: 1%;
  margin-bottom: 2%;
}

//forms

.form-group { 
  margin-top: 1%;
  margin-bottom: 2%;
}

  input, select {
    padding: 1%;
    border-radius: 5px;
    outline: none;
  }

  .button input {
    background-color: $main-color;
    color: white;
  }

  .a {
    color: $link-color;
  }

//box

.result-box {
  border: 2px solid lightblue;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  display: flex
}