@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

$main-color: #0275d8;
$link-color: #007bff;

body {
  font-family: "Fira Sans", sans-serif;
  font-size: calc(0.3em + 1vw);
}

h2 {
  font-size: calc(1em + 1vw)
}

p {
  margin-top: 0;
  margin-bottom: 0
}

//alerts

.alert {
  display: inline-block
}

//navbar

.navbar-nav {
  margin-left: 2%;
  margin-right: 2%;
}

.nav-item {
  margin-right: 15%;
  white-space: nowrap
}

//container

.main-box {
  margin: 3%;
}

//header

.header {
  margin-top: 2%;
  margin-bottom: 2%;
}

.results-header {
  margin-top: 2%;
  margin-bottom: 4%;
}

//forms

.form-group { 
  margin-top: 1%;
  margin-bottom: 2%;
}

//buttons and fields

input, select {
  padding: 1%;
  border-radius: 5px;
  outline: none;
}

.button input, .button_to input {
  background-color: $main-color;
  color: white;
}

.a {
  color: $link-color;
}

//box

.result-box {
  border: 2px solid lightblue;
  border-radius: 5px;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding: 1%;
  display: flex
}

  .new-info {
    background-color: #ffcf40;
    position:absolute;
    right: 3%;
    bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 17%;
    padding-right: 17%;
    border-radius: 5px
  }

.query-box {
  border: 2px solid lightblue;
  border-radius: 5px;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding: 1%;
  display: flex;
  line-height: 230%;

  #results-button { 
    position: absolute;
    top: 2%;
    right: 2%
  }
  
  #destroy-button {
    position: absolute;
    bottom: 2% ;
    right: 2%
  }

  .button_to input {
    padding: 3% 10%
  }
}

//box-list

  .box-list {
    margin-top: 2%;
    margin-bottom: 2%
  }

//pagination

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.1em 0.7em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }


