<div class="header">
  <h2>Wyszukiwania</h2>
</div>

<%= button_to "Nowe wyszukiwanie", queries_new_path, method: :get %>

<div class="box-list">
  <%= render partial: "shared/pagination", locals: { resource: @queries } %>
  <%= render partial: "shared/query", collection: @queries %>
  <%= render partial: "shared/pagination", locals: { resource: @queries } %>
</div>