<%= content_for :script do %>
  <%= javascript_pack_tag 'force_reload' %>
<% end %>

<div class="header">
  <h2>Wyszukiwania</h2>
</div>

<%= button_to "Nowe wyszukiwanie", queries_new_path, method: :get %>

<div class="box-list">
  <%= render partial: "shared/query", collection: @queries %>
</div>