<p>Witaj <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Twój adres e-mail zostaje zmieniony na <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Twój adres e-mail zostaje zmieniony na <%= @resource.email %>.</p>
<% end %>
