<p>Witaj <%= @resource.email %>!</p>

<p>Twoje konto zostało zablokowane z powodu nieudanych prób logowania.</p>

<p>Kliknij w link poniżej, aby odblokować swoje konto:</p>

<p><%= link_to 'Odblokuj konto', unlock_url(@resource, unlock_token: @token) %></p>
