<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    
      @import url("https://fonts.googleapis.com/css?family=Fira+Sans");

      body {
        font-family: "Fira Sans", sans-serif;
        font-size: calc(0.5em + 1vw);
      }

      p {
        line-height: 70%
      }

      .query {
        font-size: calc(0.7em + 1vw);
        margin-top: 3%;
        background-color: #0275d8;
        color: white;
        border-radius: 5px;
        padding: 2%
      }

      .mail-result-box {
        border: 2px solid #0275d8;
        border-radius: 5px;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 0.5% 2%;
        display: flex;
        }
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
